

.Card {
  width: 700px;
  height: 450px;
  margin:10px 0 10px;
  background-color: var(--c4);
  border: 10px solid var(--c1);
  border-radius: 20px;
}
.Card img {
  object-fit: contain;
  width: 100%;
  height: 270px;
}
.Card h2 {
  text-transform: uppercase;
  font-family: var(--tFontFamily);
  font-size: 30px;
  color: var(--c1);
  transition: var(--transition1);
}
.Card h2:hover {
  background-color: var(--c1);
  color: var(--c2);
}
.Card h3 h2 {
  font-family: var(--tFontFamily);
  font-size: medium;
}
.features {
  height: 100px;
  font-family: var(--tFontFamily);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
