:root{
  --cBackground: #2a9d8f;
  --cPrincipalText: #264653;
  --cBorder: #e9c46a;
  --cButton: #f4a261;
  --cButtonBorder: #e76f51;
  }

.Container{
  border: 2px solid red;
  height: 100%;
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.dataContainer{
  border: 2px solid green;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 15px;
  justify-items: center;

}
.pagination {
    border: 2px dotted blue;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .paginationItem {
    background: #fff;
    border: 2px solid #666;
    padding: 10px 15px;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    position: relative;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .paginationItem span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .prev,
  .next {
    border: none;
    padding: 10px;
    color: blue;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    margin: 0 10px;
    cursor: pointer;
  }
  
  .paginationItem.active {
    border: 1px solid #888;
    color: #888;
    pointer-events: none;
  }
  
  .prev.disabled,
  .next.disabled {
    pointer-events: none;
    box-shadow: none;
    color: #999;
  }